{% extends "Templates/default.twig" %}

{% block content %}

    <div class="row">
        <div class="col-md-6" style="margin-left: 100px;margin-top: 20px">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <td>#</td>
                        <td>
                            Title
                        </td>
                        <td>Lead</td>
                        <td>Text</td>
                        <td>Publish date</td>
                    </tr>
                </thead>
                <tbody>
                    {% for item in posts %}
                        <tr>
                            <td>{{ item.getKey() }}</td>
                            <td><a href="{{ route('postsDetails',{post: item.getKey()}) }}">{{ item.title }}</a></td>
                            <td>{{ item.lead }}</td>
                            <td>{{ item.text }}</td>
                            <td>{{ item.publish_date.format('Y-m-d H:i') }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}